attrs
bs4
certifi
chardet
civis
Click
cloudpickle
colorama
configparser
crayons
idna
jsonref
jsonschema
lxml
numpy
oathtool
pandas
pandas_gbq
prefect
pycryptodomex
pygsheets
pyrsistent
py-oathtool
pytz
PyYAML
requests
selenium==3.141.0
setuptools
six
tabula-py
urllib3
webdriver-manager
wheel
